:root {
    --primary-color:#121212;
    --secondary-color:#FEFEFE;

    --cta-color:#FF0038;

    --red-color: #CC0F39;
    --green-color: #0FFBF9;

    --contact-me-label:#0FFBF9;
    --about-me-description:#CDC764;

    --high-emphases-text-color: #ffffffe3;
    --medium-emphases-text-color: #ffffff99;
    --disabled-text-color: rgba(255, 255, 255, 0.38);

    --contact-background:#121212;
    --contact-input-border:#37383B;
    --contact-input-placeholder:#35383B;
    --contact-input-hover:#2B2B2B;
    --contact-panel:#FEFEFE;
    --contact-green-glitch:var(--green-color);
    --contact-red-glitch:var(--red-color);

    --portfolio-button-brightness:brightness(0%) invert(1);
    --portfolio-button-brightness-hover:brightness(0%) invert(0.1);

    --black-piece:#333;
    --red-piece:#DC143C;

    --resume-list-text: rgba(0, 0, 0, 0.7);
    --contact-tick-brightness:brightness(0%) invert(0);
}